- $citta = simple_fields_get_post_value(get_the_id(), "Città", true)
- $indirizzo = simple_fields_get_post_value(get_the_id(), "Indirizzo", true)


%li.evento
  .data
    .icon
    - the_time('j F')
  - if($citta)
    .luogo
      .icon
      = $citta
    
  .locale
    .icon
    - if($indirizzo)
      - $google_link = 'http://maps.google.com/maps?q='.$indirizzo.'&output=embed'
      = link_to(get_the_title(), $google_link, 'map fancybox.iframe', get_the_title(), '_blank')
    - else
      - the_title()