-# Ottengo le classi associate al post in modo da evidenziare se il post è sticky
- $post_class = get_post_class()

%article(class="#{$post_class[5]}")
  %header
    %h2
      = link_to(get_the_title(), get_permalink()) 
  
  - # se è presente la thumbnail
  - if (has_post_thumbnail())
    .copertina
      = link_to(get_the_post_thumbnail(get_the_ID(),'full'), get_permalink())
    - the_excerpt()