- global $post

.row
  .twelve.columns
    .wrap_slider
      #slider
        - foreach(lastest_posts_of_type('slide', 10) as $p)
          - $post = $p
          - setup_postdata($p)
          = get_the_post_thumbnail(get_the_ID(), array(960,400), array('data-caption'=>'#'.get_the_ID()))           
        - wp_reset_query()
      
      -#Orbit caption  
      - foreach(lastest_posts_of_type('slide', 10) as $p)
        - $post = $p
        - setup_postdata($p)
        %span{:id => "#{get_the_ID()}", :class=>'orbit-caption'}
          - the_content()
        
      - wp_reset_query()
    
.row
  .nine.columns   
    %section
      - while(have_posts())
        - the_post()
  
        = render_partial("_post_preview")
        
      .next_prev  
        .next
          - previous_posts_link('successivi')
        .prev
          - next_posts_link('precedenti')
  .three.columns
    = render_partial("sidebar")
