- global $post
.sidebar
  .section.eventi
    %h3
      prossimi eventi
    %ul
      - foreach(lastest_posts_of_type('evento', 50) as $p)
        - $post = $p
        - setup_postdata($p)
        
        - $citta = simple_fields_get_post_value(get_the_id(), "Città", true)
        - $indirizzo = simple_fields_get_post_value(get_the_id(), "Indirizzo", true)
        - $dist_temp = distanza_temporale(current_time('timestamp'), get_the_time('U'))
          
        - if($dist_temp == 'new')
          = render_partial('_evento')
              
      - wp_reset_query()
 
  .section.category
    %h3
      Categorie
    %ul
      - wp_list_categories('orderby=name&title_li=')
  
          
  .section.social
    %h3
      Social
    %ul.block-grid.four-up
      %li.facebook = link_to('f','http://www.facebook.com/diverba','','','_blank')
      %li.twitter = link_to('t', 'https://twitter.com/#!/diverba','','','_blank')
      %li.youtube = link_to('y','http://www.youtube.com/user/diverbamusic/videos','','','_blank')
      %li.soundcloud = link_to('s','http://soundcloud.com/diverba/','','','_blank')
      
  .section.tweet
    %h3 Ultimi tweet
    - twitter_messages('diverba', 5, true, false, '>>')     
  
  
  
  - if ( !function_exists('dynamic_sidebar') || !dynamic_sidebar() )  
