//font-face generato da font-squirrel

@font-face
  font-family: 'Belta'
  src: url('../fonts/belta-light-webfont.eot')
  src: url('../fonts/belta-light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/belta-light-webfont.woff') format("woff"), url('../fonts/belta-light-webfont.ttf') format("truetype"), url('../fonts/belta-light-webfont.svg#DekarLight') format("svg")
  font-weight: normal
  font-style: normal
  
@font-face
  font-family: 'Cantarell'
  src: url('../fonts/cantarell-regular-webfont.eot')
  src: url('../fonts/cantarell-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/cantarell-regular-webfont.woff') format("woff"), url('../fonts/cantarell-regular-webfont.ttf') format("truetype"), url('../fonts/cantarell-regular-webfont.svg#DekarLight') format("svg")
  font-weight: normal
  font-style: normal


$custom_font: Belta
$custom_font2: Cantarell

 


 